target/
src/main/webapp/WEB-INF/classes/
.classpath
.project
.settings/
.idea/
kbase-mobile.iml
kbase-std.iml
src/main/resources/reversion-info
.mymetadata
src/main/webapp/DATAS/
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
git config --global core.quotepath false
git config --global gui.encoding utf-8
