target/
out/
.classpath
.project
.settings/
.idea/
.mymetadata
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch

git config --global core.quotepath false
git config --global gui.encoding utf-8
